#portfolio .bottom {
  padding: 20px 0 20px 10px;
  width: 320px;
  margin: auto;
  text-align: left;
  min-height:400px;
}


#portfolio .bottom ul {
  padding-top: 20px;
  padding-bottom: 45px;
}

#portfolio .bottom ul li {
  height: 250px;
  width: 249px;
  margin: 20px 20px 20px 20px;
  float: left;
  border-radius: 10px;
  text-align: center;
}

/*** When the screen is small ***/
@media screen and (min-width: 0px) and (max-width: 599px) {
  #portfolio .bottom {
    max-width: 293px;
  }
}

/*** Full Size ***/
@media screen and (min-width: 600px) {
  #portfolio .bottom {
    min-width: 500px;
	min-height:400px;
  }
}

/****************************/




